<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779192180721-rfg7soueqopdi27rk148sg3demt0ohtj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779192180721-rfg7soueqopdi27rk148sg3demt0ohtj</string>
	<key>API_KEY</key>
	<string>AIzaSyAdP8RSOcyBo1RJ54Vr3FB0bW6CsX5a--w</string>
	<key>GCM_SENDER_ID</key>
	<string>779192180721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.MovieClub</string>
	<key>PROJECT_ID</key>
	<string>movieclub-c09bd</string>
	<key>STORAGE_BUCKET</key>
	<string>movieclub-c09bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779192180721:ios:02bd1901f63cda5ddbee50</string>
	<key>DATABASE_URL</key>
	<string>https://movieclub-c09bd.firebaseio.com</string>
</dict>
</plist>